.breadcrumb {
  padding: 16px;
}

.left {
  padding-left: 24px;
}

.list {
  padding: 12px 0 12px 12px;

  :global {
    .ant-spin-container {
      max-height: calc(100vh - 400px);
      overflow: auto;

      &::-webkit-scrollbar {
        /* 滚动条整体样式 */
        width: 4px; /* 高宽分别对应横竖滚动条的尺寸 */
        height: 10px;
      }
    }
  }
}

.search {
  padding: 8px;
  width: 16vw;
  position: fixed;
  right: 24px;
  top: 185px;
  box-shadow: -3px 10px 20px rgb(0 0 0 / 20%);
}

.edit {
  //width: calc(80vw - 224px);
}



