.formItem {
  margin: 0
}

.line {
  height: 20px;
  margin-top: -20px;
  border: solid 1px #cacaca;
  border-top: none;
  position: relative;
}

.edit {
  padding: 16px 16px 41px;
  max-width: 1250px;
  margin: auto;
  position: relative;
  overflow: hidden;

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    border-top: 1px solid #e7e7e7;
    padding: 8px 24px 0;
  }
}
