.formItem {
  padding: 0 24px 24px 24px;
  display: flex;
  align-items: center;

  .label {
    width: 80px;
  }
}

.line {
  height: 20px;
  margin-top: -20px;
  border: solid 1px #cacaca;
  border-top: none;
  position: relative;
}

.edit {
  padding: 16px 16px 41px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  overflow: hidden;

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    border-top: 1px solid #e7e7e7;
    padding: 8px 24px 0;
  }
}

.skus {
  display: flex;

  .space {
    min-width: 50px;
  }

  .list {
    flex-grow: 1;
  }
}

.skuDetailTip {
  background-color: #fff;

  :global {
    .ant-tooltip-inner {

    }
  }
}

.skuDetail {
  padding: 24px;
  max-height: 50vh;
  overflow: auto;
}
